<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This site was created by me, Kvaara. You can find me on GitHub.</p>
        <p>The program works by first using mapbox to geocode an address. We then use the latitude and longitude values
            to get the weather by using weatherstack.</p>

        <img class="scene" src="img/background.jpg">
    </div>

    {{>footer}}
</body>

</html>