<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>Weather</title>
    <link rel="stylesheet" href="css/styles.css">
</head>


<body>
    <div class=" main-content">
        {{>header}}

        <p>Use this site to get your weather.</p>

        <form class="search">
            <input class="search" placeholder="Search by address...">
            <button class="search">Search</button>
        </form>

        <p id="forecast"></p>
        <p id="location"></p>

    </div>

    {{>footer}}

    <script src="/js/client.js" type="text/javascript"></script>
</body>

</html>